<nav>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li>
            <a href="/blog">Writings</a>
            <ul class="hidden">
                <li><a href="#">Python</a></li>
                <li><a href="#">bash</a></li>
            </ul>
        </li>
        <li>
            <a href="/projects">Projects</a>
            <ul class="hidden">
                <li><a href="https://github.com/adder46/dpaster">dpaster</a></li>
                <li><a href="https://github.com/adder46/cder">cder</a></li>
                <li><a href="https://github.com/adder46/tetris">tetris</a></li>
                <li><a href="https://github.com/adder46/snake">snake</a></li>
            </ul>
        </li>
        <li><a href="/news">News</a></li>
    </ul>
</nav>